<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.onedimension.mapper.EmpExprMapper">

    <!--foreach: 遍历
        collection: 遍历的集合名称collection
        item: 每个元素名称
        index: 索引
        separator: 拼接的分隔符
        open: 遍历前拼接的字符串
        close: 遍历后拼接的字符串
        -->
    <!-- 主键返回 -->
    <insert id="batchInsertEmpExpr">
        insert into emp_expr(emp_id, begin, end, company, job)
        <foreach collection="empExprList" item="empExpr" separator="," open="values" close=";">
            (#{empExpr.empId}, #{empExpr.begin}, #{empExpr.end}, #{empExpr.company}, #{empExpr.job})
        </foreach>
    </insert>

    <!-- 删除员工工作经历 -->
    <delete id="deleteEmpExprByEmpId">
        delete from emp_expr where emp_id in
                             <foreach collection="empIds" item="empId" separator="," open="(" close=")">
                                 #{empId}
                             </foreach>
    </delete>

    <!-- 根据empId查询员工工作经历 -->
    <select id="getEmpExprByEmpId" resultType="com.onedimension.pojo.EmpExpr">
        select id, emp_id, begin, end, company, job from emp_expr where emp_id = #{empId}
    </select>

    <update id="modify">
        update emp_expr
        set begin   = #{begin},
            end     = #{end},
            company = #{company},
            job     = #{job}
        where emp_id = #{empId}
    </update>
</mapper>